<header class="site-header">
    <div class="container navbar">
      
      <div class="logo">
        <a href="#hero" class="logo-link">
          <img src="assets/images/logo/savion_logo.png" alt="Sovion Technologies Logo" class="site-logo">
        </a>
      </div>
  
      <nav class="nav-menu" id="navMenu">
        <ul>
          <li><a href="#services">Services</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="mobile-nav-cta">
            <a href="#contact" class="btn btn-primary">Let’s Talk</a>
          </li>
        </ul>
      </nav>
  
      <div class="nav-cta">
        <a href="#contact" class="btn btn-primary">Let’s Talk</a>
      </div>
  
      <button class="menu-toggle" id="menuToggle" aria-label="Open Menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
  
    </div>
  </header>